# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "c53d351b759e738d96b777042e2e368f"
#client_id = "761ea3f036dc9feb2d7e23751b3c7a52"

name = "Import Order"
application_url = "https://jellyfish-app-oopfb.ondigitalocean.app"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,read_inventory,read_customers,write_draft_orders,read_draft_orders,read_discounts,write_discounts"

[auth]
redirect_urls = [ "https://jellyfish-app-oopfb.ondigitalocean.app/api/auth" ]
